.projects {
  border: 15px solid red;
}

.projects h2 {
  font-weight: 300;
  text-decoration: underline;
  position: absolute;
  top: 130%;
  left: 10%;
}
  
.project {
  font-weight: 200;
  position: absolute;
  top: 140%;
  left: 10%;
  word-spacing: 8px;
  line-height: 30px;
}
