.container {
  position: relative;
}

.main {
  /* border: 10px solid yellow; */
  /* overflow: scroll; */
}

.profilePic {
  position: relative;
  top: 10%;
  left: 80%;
  width: 16%;
  padding-top: 10%;
}

.bannerHolder {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('../public/main-bg.svg');
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
  color: rgb(69, 87, 86);
  padding: 160px 100px;
  line-height: 50px;
  word-spacing: 20px;
  white-space: nowrap;
  font-size: large;
  animation: introAnimation 4.0s steps(60, end);
}

@keyframes introAnimation{ 
  from {opacity: 0;}
  to {
    opacity: 100;
  }
}

.bannerText {
  width: 0;
  color: rgb(36, 122, 220);
  line-height: 50px;
  word-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-size: large;
  animation: bannerTextAnimation1 1.8s steps(60, end) forwards;
  animation-delay: 3.0s;
}

.bannerText2 {
  width: 0;
  color: rgb(36, 122, 220);
  line-height: 30px;
  word-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-size: large;
  animation: bannerTextAnimation2 1.8s steps(60, end) forwards;
  animation-delay: 4.8s;
}

.sections {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@keyframes bannerTextAnimation1{ 
  from { width: 0}
  to {
    width: 850px;
  }
}

@keyframes bannerTextAnimation2{ 
  from { width: 0}
  to {
    width: 650px;
  }
}
